@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-consultation: #4a4a4a;
  --color-text-date: #747272;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

/* Buttons */
.button {
  color: var(--color-text-light);
  background: var(--color-brand-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 700;
  padding: 16px 32px;
  margin-bottom: 16px;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.header-link {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.footer-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.address-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  gap: 56px;
  justify-content: center;
}

.header-contact {
  display: flex;
  flex-grow: 1;
  gap: 43px;
}

.header-logo {
  fill: var(--color-brand-light);
}

.header-contact-icon {
  fill: var(--color-brand-dark);
}

/* Hero section */
.hero-section {
  background-image: url(../image/hero-background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 125px 705px 125px 205px;
  margin-bottom: 15px;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  color: var(--color-brand-light);
  font-family: Play, sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 40px;
}

.free-consultation {
  color: var(--color-text-consultation);
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  padding: 0 12px;
}

/* All section */
.section-title .accent {
  color: var(--color-brand-light);
}

.section-title {
  font-family: Play, sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
}

/* About us section */

.about-us {
  position: relative;
  margin-top: 15px;
  margin-bottom: 176px;
}

.background-about-us {
  position: absolute;
  top: 0;
  transform: scaleX(1.3);
  width: 100%;
  margin-top: 700px;
  z-index: -1;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.about-us-text {
  max-width: 640px;
  margin-top: 40px;
}

.about-us-padding {
  margin: 0;
  padding: 20px 0;
}

.about-us-padding:last-child {
  padding-bottom: 0;
}

.about-us-image {
  position: relative;
  display: flex;
  height: 700px;
  width: 500px;
  gap: 40px;
  flex-direction: column;
}

.decor-star-large {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 350px;
  margin-left: 135px;
  height: 64px;
  width: 64px;
}

.decor-star-middle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 32px;
  margin-left: 474px;
  height: 40px;
  width: 40px;
}

.decor-star-small {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 270px;
  margin-left: 474px;
  height: 16px;
  width: 16px;
}

.face-after-image {
  display: flex;
  align-self: flex-end;
}

.about-us span {
  text-transform: capitalize;
}

.about-us h2 {
  text-align: left;
}

.about-us p {
  font-size: 22px;
  line-height: 1.7;
}

.accent-weight {
  font-weight: 700;
}

.face-before-image,
.face-after-image {
  width: 330px;
  height: 330px;
  border-radius: 50%;
}

/* Advantages section */
.advantages {
  margin-bottom: 96px;
}

.advantages-title {
  max-width: 432px;
  margin: 0 auto 48px;
}

.advantages-list {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-text-dark);
  line-height: 1.3;
}

.advantages-card {
  width: 316px;
  height: 181px;
  padding: 32px 24px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background-color: rgb(255, 255, 255);
}

.advantages-icon {
  fill: var(--color-brand-light);
  margin: 0 113px 15px;
}

.big-icon {
  margin-bottom: 10px;
}

.advantages-text {
  text-align: center;
}

/* Our products section */
.our-products-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.products-gradient {
  height: 456px;
  width: 344px;
  border-radius: 4px 120px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    #011c44 101.39%
  );
  padding-bottom: 32px;
}

.our-products-list {
  display: flex;
  gap: 20px;
}

.our-products-items {
  flex-basis: calc((100%-32px) / 3);
}

.our-products {
  margin-bottom: 96px;
}

.text-products {
  color: var(--color-text-light);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding-top: 372px;
  max-width: 152px;
  margin: 0 auto;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  fill: var(--color-brand-dark);
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.carousel-button-after {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-text-light);
  border: var(--color-text-light);
}

/* Contact section */
.contacts {
  margin-bottom: 96px;
}

.map {
  border-radius: 32px;
}

/* Footer */
.footer {
  background-image: url(/image/background-footer.png);
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 56px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-navigation,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo-container {
  flex-basis: 50%;
}

.footer-icon {
  display: flex;
  gap: 35px;
}

.footer-address-container,
.footer-info {
  flex-grow: 1;
}

.date {
  color: var(--color-text-date);
  font-size: 13px;
  line-height: 1.15;
}

.footer-logo {
  fill: var(--color-brand-light);
}

.footer-contact-icon {
  fill: var(--color-text-light);
}
