:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-consultation: #4a4a4a;
  --color-text-date: #747272;
}

/* Base */
body {
  color: var(--color-brand-dark);
}
ul {
  list-style-type: none;
}

/* Buttons */
.button {
  color: var(--color-text-light);
  background: var(--color-brand-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}
/* .button:hover { 
  background-color: transparent;
  color: var(--color-brand-dark);
}*/

/* Link */
.header-link {
  color: var(--color-brand-dark);
}

.header-link:hover {
  color: var(--color-brand-light);
}
/* Hero section */
.hero-title {
  color: var(--color-brand-light);
}

.free-consultation {
  color: var(--color-text-consultation);
}

/* All section */
.section-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.text-advantages {
  color: var(--color-text-dark);
}

/* Our products section */
.text-products {
  color: var(--color-text-light);
}

/* Footer */
.footer-link {
  color: var(--color-text-light);
}

.date {
  color: var(--color-text-date);
}
