@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-consultation: #4a4a4a;
  --color-text-date: #747272;
}

/* Base */
body {
  color: var(--color-brand-dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
}

ul {
  list-style-type: none;
}

/* Buttons */
.button {
  color: var(--color-text-light);
  background: var(--color-brand-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 700;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.header-link {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}

.footer-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.address-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  font-style: normal;
}

/* Hero section */
.hero-title {
  color: var(--color-brand-light);
  font-family: Play, sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}

.free-consultation {
  color: var(--color-text-consultation);
  font-size: 12px;
  line-height: 1.5;
}

/* All section */
.section-title .accent {
  color: var(--color-brand-light);
}

.section-title {
  font-family: Play, sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
}

/* About us section */
#about-us span {
  text-transform: capitalize;
}

#about-us h2 {
  text-align: left;
}

#about-us p {
  font-size: 22px;
  line-height: 1.7;
}

.accent-weight {
  font-weight: 700;
}

/* Advantages section */
.text-advantages {
  color: var(--color-text-dark);
  line-height: 1.3;
}

/* Our products section */
.text-products {
  color: var(--color-text-light);
  font-size: 22px;
  line-height: 1.2;
}

/* Footer */

.date {
  color: var(--color-text-date);
  font-size: 13px;
  line-height: 1.15;
  font-style: normal;
}
