@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-consultation: #4a4a4a;
  --color-text-date: #747272;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
  margin: 0 auto;
}

/* Buttons */
.button {
  color: var(--color-text-light);
  background: var(--color-brand-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  font-weight: 700;
  padding: 16px 32px;
  margin-bottom: 16px;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */
.header-link {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
}

.footer-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}

.footer-link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.address-link {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 16px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  gap: 56px;
  justify-content: center;
}

.header-contact {
  display: flex;
  flex-grow: 1;
  gap: 43px;
}

.header-logo {
  fill: var(--color-brand-light);
}

.header-contact-icon {
  fill: var(--color-brand-dark);
}

/* Hero section */
.hero-section {
  background-image: url(../image/hero-background.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-image: linear-gradient(
    94.33deg,
    rgb(255, 255, 255) 30.532%,
    rgba(255, 255, 255, 0.85) 41.199%,
    rgba(255, 255, 255, 0.19) 58.516%,
    rgba(255, 255, 255, 0) 72.622%
  ); */
  padding: 125px 705px 125px 205px;
  margin-bottom: 15px;
}

.hero-text {
  margin-bottom: 16px;
}

.hero-title {
  color: var(--color-brand-light);
  font-family: Play, sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 40px;
}

.free-consultation {
  color: var(--color-text-consultation);
  font-size: 12px;
  line-height: 1.5;
  max-width: 238px;
  padding: 0 12px;
}

/* All section */
.section-title .accent {
  color: var(--color-brand-light);
}

.section-title {
  font-family: Play, sans-serif;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
}

/* About us section */

.about-us {
  margin-top: 15px;
  margin-bottom: 176px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.about-us-text {
  max-width: 640px;
  margin-top: 40px;
}

.about-us-padding {
  margin: 0;
  padding: 20px 0;
}

.about-us-padding:last-child {
  padding-bottom: 0;
}

.about-us-image {
  display: flex;
  height: 700px;
  width: 500px;
  gap: 40px;
  flex-direction: column;
}

.face-after-image {
  display: flex;
  align-self: flex-end;
}

.about-us span {
  text-transform: capitalize;
}

.about-us h2 {
  text-align: left;
}

.about-us p {
  font-size: 22px;
  line-height: 1.7;
}

.accent-weight {
  font-weight: 700;
}

.face-before-image,
.face-after-image {
  width: 330px;
  height: 330px;
  border-radius: 50%;
}

/* Advantages section */
.advantages {
  margin-bottom: 96px;
}

.advantages-list {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-text-dark);
  line-height: 1.3;
}

.advantages-card {
  width: 316px;
  height: 181px;
  padding: 32px 24px;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background-color: rgb(255, 255, 255);
}

.advantages-icon {
  fill: var(--color-brand-light);
}

.advantages-text {
  text-align: center;
}

/* Our products section */
.our-products {
  margin-bottom: 96px;
}

.text-products {
  color: var(--color-text-light);
  font-size: 22px;
  line-height: 1.2;
}

/* Contact section */
.contacts {
  margin-bottom: 96px;
}

/* Footer */

.date {
  color: var(--color-text-date);
  font-size: 13px;
  line-height: 1.15;
}

.footer-logo {
  fill: var(--color-brand-light);
}

.footer-contact-icon {
  fill: var(--color-text-light);
}
